<!doctype html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<body style="font-family:Helvetica;">
		<form action = "http://localhost:5001/Carrier_Result" method = 'POST'>
			<h3> To estimate the frequency of a recessive autosomal gene please enter the population size and the number of affected individuals in the population </h3>
			<p> Population Size <input type = "int" name = "PopSize" /></p>
			<p> Number of individuals with recessive disease/disorder <input type = "int" name = "Recessive_Freq" /></p>
			<p><input type = "submit" value = "Submit" /></p>
		</form>
	</body>
</html>