<!doctype html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<body style="font-family:Helvetica;">

		<form action = "http://localhost:5000/locate_dna_result" method = "POST">
			<h4> LOCATE DNA  </h4>
			<h3> This app lets you locate all the position of a sequence in a DNA</h3>

			<p>Please enter the DNA <input type = "str" name = "dna" /></p>

			<p>Please enter the subsequence <input type = "str" name = "seq" /></p>

			<p><input type = "submit" value = "Submit" /></p>

		</form>

	</body>
</html>
