<!doctype html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<body style="font-family:Helvetica;">

		<form action = "http://localhost:5000/mrca_result" method = "POST">
			<h4> IDENTIFY CONSENSUS SEQUENCE OF MOST COMMON RECENT ANCESTOR (MRCA)  </h4>
			<h3> This app lets you identify a consensus sequence from a given set of sequences in fasta format</h3>

			<p>Please upload your file in FASTA format</p>

			<input type="file" id="fasta_file">

			<p><input type = "submit" value = "Submit" /></p>

		</form>

	</body>
</html>
